<%= component_controller do %>
  <div class="section">
    <div class="input-field col s12">
      <%= label_tag :title, 'What needs to be done?', data: { 'reflex-permanent': true } %>
      <%= text_field_tag :title, '', data: { 'todos-target': 'title', action: 'keyup->todos#add', key: key } %>
      <% if todo&.new_record? && todo.errors.any? %>
        <div class="helper-text errors" data-error="wrong" data-success="right">
          <% todo.errors.full_messages.each do |error_message| %>
            <div class="red-text"><%= error_message %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="section">
    <div class="row">
      <div class="col s8">
        <div id="filter" class="row">
          <label class="col">
            <%= radio_button_tag 'filter', 'all', filter == 'all',
                                 data: {
                                   reflex: 'change->TodosComponent#toggle_filter',
                                   key: key
                                 }
            %><span>All</span>
          </label>
          <label class="col">
            <%= radio_button_tag 'filter', 'complete', filter == 'complete',
                                 data: {
                                   reflex: 'change->TodosComponent#toggle_filter',
                                   key: key
                                 }
            %><span>Complete</span>
          </label>
          <label class="col">
            <%= radio_button_tag 'filter', 'incomplete', filter == 'incomplete',
                                 data: {
                                   reflex: 'change->TodosComponent#toggle_filter',
                                   key: key
                                 }
            %><span>Incomplete</span>
          </label>
        </div>
      </div>
      <div class="col s4">
        <%= button_tag 'Remove completed',
                       class: 'waves-effect waves-light btn',
                       data: {
                         reflex: 'click->TodosComponent#remove_completed',
                         key: key,
                         'reflex-permanent': true
                       } %>
      </div>
    </div>
    <table class="highlight">
      <thead>
      <tr>
        <th>Complete</th>
        <th>Title</th>
        <th>Completed at</th>
      </tr>
      </thead>
      <tbody id='todos'>
      <% todos.each do |todo| %>
        <%= render TodoItemComponent.new(todo: todo) %>
      <% end %>
      </tbody>
    </table>
    <p><%= Todo.incomplete.size %> items left</p>
  </div>
<% end %>
