<%= component_controller :tr, id: dom_id(todo), class: 'todo' do %>
  <td>
    <label>
      <%= check_box_tag "complete-#{dom_id(todo)}", nil, todo.is_completed?,
                        class: 'filled-in',
                        data: {
                          reflex: 'click->TodoItemComponent#toggle_completion',
                          id: todo.id,
                          key: key
                        }
      %><span></span>
    </label>
  </td>
  <td>
    <%= text_field_tag "#{dom_id(todo)}-title", todo.title, class: todo.is_completed? ? 'completed' : '',
                       data: {
                         'todos-target': 'title',
                         action: 'focusin->todo-item#toggleEdition focusout->todo-item#toggleEdition keyup->todo-item#edit',
                         key: key,
                         id: todo.id
                       },
                       readonly: todo.errors.none? %>
    <% if todo.errors.any? %>
      <div class="helper-text <%= dom_id(todo) %>-errors" data-error="wrong" data-success="right">
        <% todo.errors.full_messages.each do |error_message| %>
          <div class="red-text"><%= error_message %></div>
        <% end %>
      </div>
    <% end %>
  </td>
  <td><%= todo.completed_at %></td>
<% end %>