@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

// refer to https://github.com/mkhairi/materialize-sass for details about overriding variables
@import '~@materializecss/materialize/sass/components/color-variables';
$secondary-color: color("purple", "base") !default;

@import '~@materializecss/materialize';

body {
  background-color: white;
}