<h1 class="mdc-typography--headline1">Vanilla Material Design</h1>
<p>
  This vanilla Material Design html tag examples.
</p>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12" style="text-align: center;">
      <button class="mdc-button mdc-button--raised"
              data-mdc-auto-init="MDCRipple">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Hello</span>
      </button>
    </div>

    <div class="mdc-layout-grid__cell--span-4">
      <label class="mdc-text-field mdc-text-field--filled" style="width: 100%"
             data-mdc-auto-init="MDCTextField">
        <span class="mdc-text-field__ripple"></span>
        <input type="text"
               class="mdc-text-field__input"
               aria-labelledby="username-label"
               name="username"
               required>
        <span class="mdc-floating-label"
              id="username-label">Username</span>
        <span class="mdc-line-ripple"></span>
      </label>
    </div>

    <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-middle" style="text-align: center;">
      <div class="mdc-form-field">
        <div class="mdc-checkbox"
             data-mdc-auto-init="MDCCheckbox">
          <input type="checkbox"
                 class="mdc-checkbox__native-control"
                 id="checkbox-1"/>
          <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark"
                 viewBox="0 0 24 24">
              <path class="mdc-checkbox__checkmark-path"
                    fill="none"
                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
          </div>
          <div class="mdc-checkbox__ripple"></div>
        </div>
        <label for="checkbox-1">Checkbox 1</label>
      </div>
    </div>

    <div class="mdc-layout-grid__cell--span-4">
      <div class="mdc-select mdc-select--filled demo-width-class" data-mdc-auto-init="MDCSelect" style="width: 100%">
        <div class="mdc-select__anchor"
             role="button"
             aria-haspopup="listbox"
             aria-expanded="false"
             aria-labelledby="demo-label demo-selected-text">
          <span class="mdc-select__ripple"></span>
          <span id="demo-label" class="mdc-floating-label">Pick a Food Group</span>
          <span class="mdc-select__selected-text-container">
      <span id="demo-selected-text" class="mdc-select__selected-text"></span>
    </span>
          <span class="mdc-select__dropdown-icon">
      <svg
        class="mdc-select__dropdown-icon-graphic"
        viewBox="7 10 10 5" focusable="false">
        <polygon
          class="mdc-select__dropdown-icon-inactive"
          stroke="none"
          fill-rule="evenodd"
          points="7 10 12 15 17 10">
        </polygon>
        <polygon
          class="mdc-select__dropdown-icon-active"
          stroke="none"
          fill-rule="evenodd"
          points="7 15 12 10 17 15">
        </polygon>
      </svg>
    </span>
          <span class="mdc-line-ripple"></span>
        </div>

        <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
          <ul class="mdc-list" role="listbox" aria-label="Food picker listbox">
            <li class="mdc-list-item mdc-list-item--selected" aria-selected="true" data-value="" role="option">
              <span class="mdc-list-item__ripple"></span>
            </li>
            <li class="mdc-list-item" aria-selected="false" data-value="grains" role="option">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">
          Bread, Cereal, Rice, and Pasta
        </span>
            </li>
            <li class="mdc-list-item mdc-list-item--disabled" aria-selected="false" data-value="vegetables" aria-disabled="true" role="option">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">
          Vegetables
        </span>
            </li>
            <li class="mdc-list-item" aria-selected="false" data-value="fruit" role="option">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">
          Fruit
        </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
