<h1>TODOS</h1>
<p>
  Sample application utilizing Stimulus JS, Action Cable Reflexes, Rails View Component. All in Material Design from Materialize framework.
</p>
<h3>Features</h3>
<ul>
  <li><i class="tiny material-icons left">done</i>adding new todo item</li>
  <li><i class="tiny material-icons left">done</i>todo item validation: title presence and uniqueness</li>
  <li><i class="tiny material-icons left">done</i>title edition of incomplete todo item</li>
  <li><i class="tiny material-icons left">done</i>todo item list filtering: all, complete, incomplete</li>
  <li><i class="tiny material-icons left">done</i>marking todo item as complete/incomplete</li>
  <li><i class="tiny material-icons left">done</i>removing of all complete todo items</li>
  <li><i class="tiny material-icons left">done</i>information about how many incomplete todo items left</li>
</ul>
<hr />
<%= link_to '<i class="material-icons left">format_list_bulleted</i>&nbsp;open Todos'.html_safe, todos_path, class: 'waves-effect waves-light btn' %>
