<!DOCTYPE html>
<html>
<head>
  <title>Todos :: ComponentView + Stimulus + Reflexes</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav>
  <div class="nav-wrapper">
    <%= link_to 'Home', root_url, class: 'brand-logo' %>
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-small-only">
      <li><%= link_to 'Todos', todos_path %></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-nav" data-turbolinks-permanent>
  <li><%= link_to 'Todos', todos_path %></li>
</ul>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
